body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

header {
	top: 0px;
	height: 180px;
	width: 100%;
	background-color: #34ACB2;
	margin: 0px;
}

nav {
	position: relative;
	margin-top: 30px;
}

#name {
	font-family: 'Major Mono Display';
	font-size: 50px;
	display: inline;
	position: relative;
	top: 50px;
	color: #fff;
}

ul {
	list-style-type: none;
	margin-top: 90px;
	padding: 0px;
}

li {
	display: inline;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
}

li a {
	display: inline;
	padding: 0 4vw;
	font-size: 18px;
	color: #E2FEFF;
	text-decoration: none;
	text-transform: uppercase;
}

li a:hover {
	transition: 0.3s;
	color: #34ACB2;
}

main {
	margin: auto;
}

#icon {
	width: 25%;
	display: inline-block;
	margin-left: 20%;
}

#intro {
	margin-left: -5em;
	text-align: left;
	display: inline-block;
	width: 32em;
	padding-top: 1.5em;
}

#intro,
.stuff {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
}

.stuff {
	padding-top: 5em;
	text-align: center;
}

.slip {
	padding-top: 3em;
	font-size: 20px;
	font-style: italic;
}

.column {
	float: left;
	margin-top: 5em;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	opacity: 0.9;
	width: 100%;
	margin: 2em 0 0 0;
	border: 0;
	text-align: center;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 0.8em;
	position: fixed;
	bottom: 0;
	padding: 2em 0em;
	background-color: rgba(52, 172, 178, 0.3);
}

.button,
.button:link,
.button:visited {
	transition: 0.3s;
	color: #fff;
	display: inline-block;
	padding: 0.3em 1.2em;
	border: none;
	background-color: #34ACB2;
	border-radius: 2vh;
	font-size: 1.1em;
	width: auto;
}

.button:hover,
.button:active {
	text-decoration: none;
	background: #fff;
	color: #0174CD;
	transition: 0.3s;
	cursor: pointer;
}

/*game.html stuff?*/
::-webkit-scrollbar-thumb:vertical {
	background-color: #D9F9FB;
	height: 30px;
}

::-webkit-scrollbar {
	height: 30px;
	width: 4px;
	background-color: #fff;
}

#side {
	position: fixed;
	margin-left: 80px;
	top: 14em;
	z-index: 99;
}

#side img {
	width: 150px;
	height: 150px;
	padding: 4px;
	border: 1px solid #A8EEF1;
}

#desc {
	position: fixed;
	width: 220px;
	margin-top: -10px;
	margin-left: -30px;
	font-family: consolas;
	font-size: 12px;
	text-align: center;
	color: #2F6375;
}

#desc h1 {
	font-family: Economica;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 2px;
	z-index: 99;
	text-align: center;
	border-bottom: 1px dotted #A8EEF1;
	text-transform: uppercase;
	padding: 2px;
}

#desc a {
	transition: 0.3s;
	color: #34ACB2;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: consolas;
}

#desc a:hover {
	transition: 0.3s;
	letter-spacing: 5px;
	cursor: pointer;
}

#container {
	position: absolute;
	margin-left: 15em;
	width: 80%;
	top: 10em;
}

.game {
	position: relative;
	float: left;
	width: 260px;
	margin-left: 180px;
	margin-bottom: 20px;
	padding: 2em;
}

.game a {
	color: #000;
	text-decoration: none;
}

.game a:hover {
	color: ffdd11;
}

.game img {
	height: 200px;
	width: 200px;
	padding: 4px;
	border: 1px solid #34ACB2;
}

.title {
	position: relative;
	margin-top: -5em;
}

.title h1:hover {
	transition: 0.3s;
	letter-spacing: 2px;
}

.title h1 {
	transition: 0.3s;
	font-family: Economica;
	font-size: 18px;
	font-weight: normal;
	z-index: 99;
	width: 11.5em;
	margin-left: 1.4em;
	text-align: center;
	text-transform: uppercase;
	padding: 2px;
	color: #000;
	background-color: #A8EEF1;
}

.info {
	position: absolute;
	font-family: tahoma;
	font-size: 12px;
	height: 185px;
	width: 190px;
	margin-left: 20em;
	padding: 10px;
	border: 3px solid #93EAF1;
	color: #999;
	background-color: #fff;
	overflow-x: scroll;
	line-height: normal;
}

.info h1 {
	border-bottom: 1px dotted;
	font-family: economica;
	color: #000;
	font-size: 18px;
	margin-top: 0.2em;
	margin-bottom: 2px;
	font-weight: normal;
}

.info b,
strong {
	color: #34ACB2;
	text-transform: uppercase;
	font-size: 12px;
}
